@use '../assets/styles/variables' as vars;

.dashboard {
	display: flex;
	height: 100vh;
	background-color: vars.$color-bg;
	font-family: vars.$font-family-main;
}
.main-area {
	flex: 1;
	display: flex;
	flex-direction: column;
}
