// COLORS
$color-bg: #f0f2f5;
$color-bg-hover: #e0e2e5;
$color-white: #ffffff;
$color-primary: #007bff;
$color-primary-hover: #339cff;
$color-text: #333;
$color-error: #d9534f;
$color-error-hover: #c9302c;
$color-border: #cccccc;
$color-border-hover: #bbbbbb;
$color-border-light: #f2f2f2;
$shadow-default: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
$color-text-muted: #6c757d;

// FONTS AND SIZES
$font-family-main: 'Inter', sans-serif;
$font-size-base: 1.6rem;
$font-size-heading: 2.4rem;

// BORDER AND RADIUS
$border-radius: 0.6rem;
$input-border: 1px solid #ccc;
